
#container {
    display: grid;
    min-height: 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
    'nav nav nav nav'
    'hd hd hd hd '
    'as as as as'
    'mn mn mn mn'
    'ft ft ft ft'
}

nav {
    grid-area: nav;
    
   
    width: auto;
    border-radius: 3px;
  background-color: #9FB1BC;
    
}

header {
    
    display: grid;
    height: 400px;
    grid-area: hd;
    
    text-align: center;
    border-radius: 3px;
      background-image: url("../img/winterwolf.jpg");
}

aside {
    grid-area: as;

    background-color:#9FB1BC;
    border-radius: 3px;
    
}

main {
    grid-area: mn;
   
    background-color: #9FB1BC;
    border-radius: 3px;
}

footer {
    grid-area: ft;
    background-color: #D3D0CB;
    border-radius: 3px;
   
}

#wolfbild {
    display: inline;
    height: 5em; 
    margin: auto;
    
    
}

#wolf {

    height: 20em;
    margin: center;
}



#container2{
display: grid; 
text-align: left;
}

#wolf2{
    height: 10em;
}

input{
    position: absolute;
    position: relative;
    left: -30px;
    border:0px;
    height: 25px;
    width: 135px;
}
button {
    margin: 2px;
    padding: 10px 10px;
background-color: #D3D0CB;
border-radius: 10px;

}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    display: inline;
    position: relative;
    top: -30px;
}

